---
layout: hero
---

<!-- Introduction Section -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center wow zoomIn">
        <h2 class="section-heading">We boast New Zealand's only two level go kart track!</h2>
        <span class="section-divider">M</span>
        <h3 class="section-subheading text-muted">Not only do we have the two levels but we have a long fast straight, tighter more technical hair pin corners and also fast corners for passing</h3>
        <a href="#racingOptions" class="page-scroll">
          <i class="fa fa-angle-double-down animated"></i>
        </a>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- End Introduction Section -->

<!-- Racing type Section -->
<section id="racingOptions">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-subheading wow fadeInDown">Select your racing type</h3>
      </div>
    </div>
    <!-- /.row-->
    <div class="row">
      <div class="col-sm-6 text-center wow fadeInLeft">
        <ul>
          <li><a href="#casualModal1" data-toggle="modal">Arrive & Drive</a></li>
          <li><a href="#individualModal1" data-toggle="modal">Individual racing</a></li>
          <li><a href="#teamsModal1" data-toggle="modal">Teams racing</a></li>
        </ul>
      </div>
      <div class="col-sm-6 text-center wow fadeInRight">
        <ul>
          <li><a href="#oneHourModal1" data-toggle="modal">One hour track hire</a></li>
          <li><a href="#customModal1" data-toggle="modal">Custom races</a></li>
          <li><a href="#giftModal1" data-toggle="modal">Gift vouchers</a></li>
        </ul>
      </div>
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-12">
        <a href="#book" class="page-scroll">
          <i class="fa fa-angle-double-down animated"></i>
        </a>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- End Restaurants Section -->

{% include booking.html %}

{% include gallery.html %}

<div class="map">
  <div id="homepage_map"></div>
</div>

{% include modals.html %}
