<header id="header" class="intro">
  <div id="hero-carousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner carousel-bg">

      <!-- Start slide -->
      <div class="item active">
        <div class="fill item_one"></div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="slide-content animated fadeInDown">
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- End slide -->

      <!-- Start slide -->
      <div class="item">
        <div class="fill item_two"></div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="slide-content animated fadeInDown">
              <span class="section-icon">&nbsp;</span>
              <h1>Perfect for events</h1>
              <h2>Perfect for team building, corporate functions, birthdays and hen or stag nights</h2>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- End slide -->

      <!-- Start slide -->
      <div class="item">
        <div class="fill item_three"></div>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="slide-content animated zoomIn">
              <span class="section-icon">&nbsp;</span>
              <h1>200cc petrol engine karts</h1>
              <h2>Our karts are all specifically designed to handle like racing karts and give you that racing feel when driving them</h2>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- End slide -->

    </div>
    <!-- /.carousel-inner -->

    <a href="#nav" class="btn page-scroll header-scroll">
      <i class="fa fa-angle-down animated"></i>
    </a>

    <!-- Controls -->
    <a class="left carousel-control" href="#hero-carousel" role="button" data-slide="prev">
      <span class="fa fa-angle-left"></span>
    </a>
    <a class="right carousel-control" href="#hero-carousel" role="button" data-slide="next">
      <span class="fa fa-angle-right"></span>
    </a>

  </div>
  <!-- /#hero-carousel -->
</header>
