<!-- Casual modal -->
{% include _modals/casual_racing.html %}

<!-- Individual modal -->
{% include _modals/individual_racing.html %}

<!-- Teams modal -->
<div class="popup-modal modal fade" id="teamsModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
          <div class="modal-body">
            <!-- News Article Goes Here -->
            <h2 class="section-heading">Teams racing</h2>
            <h3 class="section-subheading">Teams racing is aimed at medium to large groups who are looking at doing a fun and competitive event. These races are much more of a structured event than the Arrive & Drive. You have a choice of several different race setups (please see below).</h3>

            <p>
              As drivers will be driving in teams we generally aim to do driver changes every 15 or 20 laps depending on the race length and number of drivers in each team. This setup usually gives each driver a minimum of two sessions on the track.
            </p>

            <p>
              Total booking time includes:
            </p>
            <ul>
              <li>Signing In</li>
              <li>Race Briefing</li>
              <li>Driver Practice</li>
              <li>The Race</li>
              <li>Prize Giving</li>
            </ul>

            <p>
              After the race results are presented and the winning team gets a prize from us at Extreme!
            </p>

            <h3>Important information</h3>

            <ol>
              <li>Bookings are essential as your group will have the track exclusively to yourself.</li>
              <li>$150 non-refundable deposit is required 1 week in advance (2 weeks during November, December and January) - this can be refunded to you on the day (only if you turn up for the race you were booked in for) or you can use it towards the
                race.
              </li>
            </ol>

            <p>
              Deposit can be paid by the following methods:
            </p>
            <ul>
              <li>Cash</li>
              <li>Eftpos</li>
              <li>Credit Card (we are also able to take credit card payments over the phone) </li>
              <li>Company cheques only (no personal cheques are accepted)</li>
              <li>Direct credit</li>
            </ul>

            <h2>Teams racing options</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Race</th>
                  <th>No of laps</th>
                  <th>Min numbers</th>
                  <th>Max numbers</th>
                  <th>Cost</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Bathurst</td>
                  <td>80</td>
                  <td>12 People (6 Teams)</td>
                  <td>40 People (10 Teams)</td>
                  <td>$120/team</td>
                </tr>

                <tr>
                  <td>Bathurst Cruiser</td>
                  <td>80</td>
                  <td>12 People (6 Teams)</td>
                  <td>40 People (10 Teams)</td>
                  <td>$120/team</td>
                </tr>

                <tr>
                  <td>Bathurst 90</td>
                  <td>90</td>
                  <td>12 People (6 Teams)</td>
                  <td>30 People (10 Teams)</td>
                  <td>$130/team</td>
                </tr>

                <tr>
                  <td>100 Lapper</td>
                  <td>100</td>
                  <td>12 People (6 Teams)</td>
                  <td>40 People (10 Teams)</td>
                  <td>$140/team</td>
                </tr>

                <tr>
                  <td>Indy120</td>
                  <td>120</td>
                  <td>12 People (6 Teams)</td>
                  <td>40 People (10 Teams)</td>
                  <td>$165/team</td>
                </tr>

                <tr>
                  <td>Le Mans</td>
                  <td>150</td>
                  <td>14 People (7 Teams)</td>
                  <td>50 People (10 Teams)</td>
                  <td>$185/team</td>
                </tr>

                <tr>
                  <td>Enduro</td>
                  <td>200</td>
                  <td>14 People (7 Teams)</td>
                  <td>60 People (10 Teams)</td>
                  <td>$225/team</td>
                </tr>
              </tbody>
            </table>

            <p>
              *All prices above are per team. If you have 2 drivers per team the cost shown above will be divided by 2 (eg. $120/team = $60 per person), if you have 3 drivers per team the cost shown above will be divided by 3 etc.
            </p>

            <p>
              The races outlined above are our usual setups that we run for groups. If you have an idea of something different that you would like to do please feel free to contact us. For example if you prefer splitting up a large race we are definitely able to do
              this for you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- One hour modal -->
<div class="popup-modal modal fade" id="oneHourModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
          <div class="modal-body">
            <!-- News Article Goes Here -->
            <h2 class="section-heading">One hour track hire</h2>
            <h3 class="section-subheading">Our track can also be hired on an hourly basis. Apart from racing, this is ideal for promotional events, product launches or even shooting music videos!</h3>

            <p>
              There is no minimum number of people needed for this event. A maximum of 60 people can be catered for.
            </p>

            <p>
              Hourly Charge: $900/Hour
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Custom modal -->
<div class="popup-modal modal fade" id="customModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
          <div class="modal-body">
            <!-- News Article Goes Here -->
            <h2 class="section-heading">Custom races</h2>
            <h3 class="section-subheading">We are also able to do custom races sizes to suite your needs. Please call us to discuss your options.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Gift modal -->
<div class="popup-modal modal fade" id="giftModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
          <div class="modal-body">
            <!-- News Article Goes Here -->
            <h2 class="section-heading">Custom races</h2>
            <h3 class="section-subheading">We sell 10 minute, 20 minute and 30 minute gift vouchers.  These are perfect for birthday presents, Christmas presets or just something special. </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
