<nav id="nav" class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle are grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
    </div>
    <!-- /.navbar-header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a class="page-scroll" href="/#racingOptions">Racing options</a></li>
        <li><a class="page-scroll" href="/#book">Book a race</a></li>
      </ul>
      <a class="navbar-brand page-scroll" href="/#header">
        <img src="assets/images/karts/transparentbackground.png" alt="">
      </a>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Info <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="karts">Karts</a>
            </li>
            <li>
              <a href="track">Track</a>
            </li>
            <li>
              <a href="facilities">Facilities</a>
            </li>
            <li>
              <a href="videos">Videos</a>
            </li>
            <li>
              <a href="about">About us</a>
            </li>
          </ul>
        </li>
        <li><a class="page-scroll" href="/#gallery">Gallery</a></li>
        <li><a class="page-scroll" href="/#footer">Contact Us</a></li>
      </ul>

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
