<div class="popup-modal modal fade" id="casualModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
          <div class="modal-body">
            <h2 class="section-heading">Arrive & Drive</h2>
            <h3 class="section-subheading">You are welcome to just turn up and go for a drive - its worth giving us a call to check availability. Arrive & Drive is recommended for everyone, no matter what your age or skill level.</h3>

            <p>This option is perfect if you would like to have a go at go karting or if you have heard about our two level track and would like to try the extreme ramp! </p>
            <h2>Arrive & Drive options</h2>
            <table class="table table-striped table-hover ">
              <tbody>
                <tr>
                  <td>10 minutes</td>
                  <td>$35</td>
                </tr>
                <tr>
                  <td>20 minutes</td>
                  <td>$52</td>
                </tr>
                <tr>
                  <td>30 minutes</td>
                  <td>$69</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
