<div class="popup-modal modal fade" id="individualModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
          <div class="modal-body">
            <!-- News Article Goes Here -->
            <h2 class="section-heading">Individual racing</h2>
            <h3 class="section-subheading">Individual racing is aimed at smaller groups who are looking at doing a fun and competitive event. These races are much more of a structured event than the casual racing. You have a choice of several different race setups (please see below).</h3>

            <p>
              Total booking time includes:
            </p>
            <ul>
              <li>Signing In</li>
              <li>Race Briefing</li>
              <li>Driver Practice</li>
              <li>The Race</li>
              <li>Prize Giving</li>
            </ul>

            <p>
              After each race drivers are given points depending on their finishing position, the winning driver getting 1 point and the loosing driver getting either 8, 9 or 10 points depending on how many drivers you have in total (last position = number of points
              assigned). On completion of all races a total is obtained and an overall winner is determined who then receives a prize from us at Extreme!
            </p>

            <h3>Important information</h3>

            <ol>
              <li>Bookings are essential as your group will have the track exclusively to yourself.</li>
              <li>$150 non-refundable deposit is required 1 week in advance (2 weeks during November, December and January) - this can be refunded to you on the day (only if you turn up for the race you were booked in for) or you can use it towards the
                race.
              </li>
            </ol>

            <p>
              Deposit can be paid by the following methods:
            </p>
            <ul>
              <li>Cash</li>
              <li>Eftpos</li>
              <li>Credit Card (we are also able to take credit card payments over the phone) </li>
              <li>Company cheques only (no personal cheques are accepted)</li>
              <li>Direct credit</li>
            </ul>

            <p>
              Minimum drivers required: 8
            </p>
            <p>
              Maximum drivers required: 10
            </p>

            <h2>Individual racing options</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Race</th>
                  <th>Race information</th>
                  <th>Cost</th>
                  <th>Comments</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Manfield Double</td>
                  <td>
                    <p>Races: 2 Races of 30 laps each.</p>
                    <p>Grid Layouts:</p>
                    <p>First race: 1 to 10</p>
                    <p>Second race: 10 to 1</p>
                    <p>Breaks: 1 Break between the two races.</p>
                  </td>
                  <td>$74 pp</td>
                  <td>Recommended for first-timers or groups just looking at having a bit of fun.</td>
                </tr>

                <tr>
                  <td>Extreme Sprints</td>
                  <td>
                    <p>Races: 4 Races of 15 laps each.</p>
                    <p>Grid Layouts:</p>
                    <p>Drivers will get a turn to start at the front, back and middle of the grid during the 4 races.</p>
                    <p>Breaks: 1 Break half way.</p>
                  </td>
                  <td>$74 pp</td>
                  <td>Recommended for competitive groups that really get into racing.</td>
                </tr>

                <tr>
                  <td>Manfield Treble</td>
                  <td>
                    <p>Races: 3 Races of 30 laps each.</p>
                    <p>Grid Layouts:</p>
                    <p>First race: 1 to 10</p>
                    <p>Second race: 10 to 1</p>
                    <p>Third race: Decided on the day.</p>
                    <p>Breaks: 1 Break after each race.</p>
                  </td>
                  <td>$92 pp</td>
                  <td>This event is definitely for the hardcore racers!</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
